<!DOCTYPE html>

<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>LyricsNode - {{ title }}</title>

		<link rel='stylesheet' href='/static/stylesheets/normalize.css'>
		<link rel="stylesheet" href="/static/stylesheets/foundation.min.css">

		<script src="/static/javascripts/vendor/custom.modernizr.js"></script>
	</head>

	<body>
		<nav class='top-bar'>
			<ul class='title-area'>
				<li class='name'>
					<h1><a href='/'>LyricsNode</a></h1>
				</li>
			</ul>

			<section class='top-bar-section'>
				<ul class='left'>
					<li><a href='/'>Round</a></li>
					<li><a href='/db/'>Database</a></li>
				</ul>

				<ul class='right'>
					<li><a data-dropdown='quick-add' href='#'>Quick Add</a></li>
				</ul>

				<div id='quick-add' class='f-dropdown content medium' data-dropdown-content="">
					OIE
				</div>
			</section>
		</nav>

		{% block styles %}{% endblock %}
		{% block content %}{% endblock %}

		<script>
		  document.write('<script src=/static/javascripts/vendor/'
		    + ('__proto__' in {} ? 'zepto' : 'jquery')
		    + '.js><\/script>');
		</script>
		<script src='/static/javascripts/foundation.min.js'></script>
		<script>
			$(document).foundation();
		</script>

		{% block scripts %}{% endblock %}
	</body>
</html>
