{% extends "base.html" %}

{% block content %}
	<div class='row'>
		<div class='large-3 columns'>
			<div class='section-container'>
				<ul class='pricing-table'>
					<li class='title'>Operations</li>
					<li class='bullet-item'><a class='active' href='/db/'>Add new</a></li>
					<li class='bullet-item'><a href='/db/everything/'>See everything</a></li>
				</ul>
			</div>
		</div>
	</div>
{% endblock content %}
